<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.yarbax.com">

    <application
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        >
        <activity android:name=".Decider"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".First_Factor" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Second_Factor" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Select_Fav_dest"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Select_Fav_origin"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yarbox" android:host="main" />
            </intent-filter>
        </activity>
        <activity android:name=".Fav_origin_view"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Fav_dest_view"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Fav_dest"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Fav_origin_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Fav_origin_map"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Fav_address"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Faq"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Help"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Support"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Inbox"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activities"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Reg"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Share"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AboutUs"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Reports"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".IncreaseCredit"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".NewFactor"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SelectSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PackDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SenderAddress"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SenderAddressDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ChooseReciever"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ChoosePort"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecieverAddressDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Signin"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Approve"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SearchingSafir"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".DriverInfo"
            android:screenOrientation="portrait">
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHXZSNW2bokbN5bobB-0ELekD-bX7pHGY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".Utilities.MyService" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.
   READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>