<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.yarbax.com">

    <application
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Faq">
        </activity>
        <activity android:name=".Help">
        </activity>
        <activity android:name=".Support">
        </activity>
        <activity android:name=".Inbox">
        </activity>
        <activity android:name=".Activities">
        </activity>
        <activity android:name=".Reg">
        </activity>
        <activity android:name=".Share">
        </activity>
        <activity android:name=".AboutUs">
        </activity>
        <activity android:name=".Reports">
        </activity>
        <activity android:name=".IncreaseCredit">
        </activity>
        <activity android:name=".NewFactor">
        </activity>
        <activity android:name=".SelectSize">
        </activity>
        <activity android:name=".PackDetail">
        </activity>
        <activity android:name=".SenderAddress">
        </activity>
        <activity android:name=".SenderAddressDetail">
        </activity>
        <activity android:name=".ChooseReciever">
        </activity>
        <activity android:name=".ChoosePort">
        </activity>
        <activity android:name=".RecieverAddressDetail">
        </activity>
        <activity android:name=".OrderVehicleSelect">
        </activity>
        <activity android:name=".Signin">
        </activity>
        <activity android:name=".Approve">
        </activity>
        <activity android:name=".SearchingSafir">
        </activity>
        <activity android:name=".DriverInfo">
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHXZSNW2bokbN5bobB-0ELekD-bX7pHGY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.
   READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>